body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    transform: scale(1.05);
}

#output {
    font-size: 120px;
    font-weight: bold;
    margin-top: 40px;
    transition: opacity 0.2s ease-in-out;
}